sudo: false
dist: trusty
addons:
  apt:
    packages:
    - openjdk-8-jdk
    - ant
    - python2.7
    - git

notifications:
    slack: dwp-queue-triage:tZldFanXMyzLxAlLjMZQeWY1
    
before_script:
  # Install Buck
  - pushd $HOME
  - git clone --branch v2017.05.31.01 --depth 1 https://github.com/facebook/buck.git
  - cd buck && ant && popd
  - export PATH=$HOME/buck/bin:$PATH
  # Verify Buck installation
  - buck --version

script:
  - buck fetch //...
  - buck test //...

services:
  - mongodb

