<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8"/>
    <title>Queue Triage - Home</title>
    <link rel="stylesheet" type="text/css" href="/static/css/queue-triage.css" />
  </head>
  <body id="queue-triage-home">
    <div class="wrapper">
      <h2>Welcome!</h2>
    </div>
  </body>
</html>