<!DOCTYPE html>
<html>
<head>
    <title>Queue Triage - Failed Messages</title>
    <link rel="stylesheet" type="text/css" href="/static/css/w2ui-1.5.rc1.css" />
    <link rel="stylesheet" type="text/css" href="/static/css/queue-triage.css" />
    <script type="text/javascript" src="/static/js/jquery-2.1.0.min.js"></script>
    <script type="text/javascript" src="/static/js/w2ui-1.5.rc1.js"></script>
    <script type="text/javascript" src="/static/js/test-utils.js"></script>
    <script type="text/javascript" src="/static/js/failed-message-popup.js"></script>
</head>
<body>

<div>
    <div id="failed-message-list-grid" style="width: 100%; height: 400px;"></div>
</div>

<script type="text/javascript">
    w2utils.settings['dataType'] = 'JSON';
    $(function () {
        $('#failed-message-list-grid').w2grid({
            name: 'failedMessages',
            url: {
                get: '/web/failed-messages/search',
                remove: '/web/api/failed-messages/delete',
                resend: '/web/api/failed-messages/resend',
                save: '/web/api/failed-messages/labels'
            },
            show: {
                selectColumn: true,
                toolbar: true,
                toolbarSearch: false,
                toolbarDelete: true,
                toolbarSave: true
            },
            multiSearch: true,
            textSearch: 'contains',
            columns: [
                { field: 'recid', caption: 'Failed Message Id', size: '220px', sortable: true },
                { field: 'broker', caption: 'Broker', size: '10%', sortable: true, searchable: true },
                { field: 'destination', caption: 'Queue', size: '10%', sortable: true, searchable: true },
                { field: 'sentDateTime', caption: 'Originally Sent', size: '160px', sortable: true },
                { field: 'failedDateTime', caption: 'Failed', size: '160px', sortable: true },
                { field: 'labels', caption: 'Labels', size: '20%', editable: { type: 'text' } },
                { field: 'content', caption: 'Content', size: '80%', sortable: true, searchable: true },
{{#popupRendered}}
                {
                    field: 'edit', caption: '', size: '28px',
                    render: function (record) {
                        return '<button class="show-more-btn w2ui-btn" onclick="displayFailedMessageDetails(\'' + record.recid + '\');">...</button>';
                    }
                }
{{/popupRendered}}
            ],
            onSelect: function(event) {
                event.onComplete = function() {
                    var sel = this.getSelection();
                    if (sel.length >= 1) this.toolbar.enable('w2ui-resend'); else this.toolbar.disable('w2ui-resend');
                };
            },
            onUnselect: function(event) {
                event.onComplete = function() {
                    this.toolbar.disable('w2ui-resend');
                };
            }
        }).toolbar.insert(
                'w2ui-delete',
                {
                    type: 'button',
                    id: 'w2ui-resend',
                    text: 'Resend',
                    caption: 'Resend selected Failed Messages',
                    img: 'icon-send',
                    disabled: true,
                    onClick: function (event) {
                        w2ui.failedMessages.request('resend', null, w2ui.failedMessages.url.resend,
                                function (data) {
                                    if (data.status !== 'error') {
                                        w2ui.failedMessages.reload();
                                    }
                                });
                    }
                },
                { type: 'break' }
        );
    });
</script>
</body>
</html>