<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="X-UA-Compatible" content="IE=9"/>
    <title>Queue Triage - Login</title>
    <link rel="stylesheet" type="text/css" href="/static/css/login.css" />
</head>
<body id="queue-triage-login">
    <div class="login-box">
    {{#errorPresent}}
        <div id="error-message" class="login-msg">{{errorMessage}}</div>
    {{/errorPresent}}
        <br><br>
        <div class="login-center">
            <div class="login-img">
                <div> Queue Triage </div>
            </div>
            <form action="/web/login" method="POST">
                <div class="login-input">
                    <span>Login</span>
                    <input id="username" name="username" size="25" type="text" autofocus="yes"
                           onkeypress="$('#error-message').html('&nbsp;'); if (event.keyCode == 13) form.submit();">
                    <span>Password</span>
                    <input id="password" name="password" size="25" type="password"
                           onkeypress="$('#error-message').html('&nbsp;'); if (event.keyCode == 13) form.submit();">
                    <div style="height: 25px; font-size: 1px;">&nbsp;</div>
                    <input id="btn-login" type="submit" value="Login" />
                </div>
            </form>
            <div style="text-align: center; padding-top: 10px;">
            </div>
        </div>
    </div>
</body>
</html>